<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>UTP Integrador - Páginas</title>
</head>
<body>
<div layout:fragment="content" id="app" class="px-40 flex flex-1 justify-center py-5">
    <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
        <div class="flex flex-wrap justify-between gap-3 p-4">
            <div class="flex min-w-72 flex-col gap-3">
                <p class="text-[#1c140d] tracking-light text-[32px] font-bold leading-tight">Editar Página</p>
                <p class="text-[#9e7347] text-sm font-normal leading-normal">Modifica los campos para editar la nueva página</p>
            </div>
        </div>

        <form>

            <!-- Product Name -->
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                <label class="flex flex-col min-w-40 flex-1">
                    <p class="text-[#1c140d] text-base font-medium leading-normal pb-2">Nombre del producto *</p>
                    <input id="titulo" v-model="pagina.titulo"
                           placeholder="Quinua Premium Blanca"
                           required
                           class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#1c140d] focus:outline-0 focus:ring-0 border border-[#e9dbce] bg-[#f4ede6] focus:border-[#e9dbce] h-14 placeholder:text-[#9e7347] p-[15px] text-base font-normal leading-normal transition-colors"
                    />
                </label>
            </div>

            <!-- Url -->
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                <label class="flex flex-col min-w-40 flex-1">
                    <p class="text-[#1c140d] text-base font-medium leading-normal pb-2">Ruta de la página *</p>
                    <input id="url" v-model="pagina.url"
                           required
                           class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#1c140d] focus:outline-0 focus:ring-0 border border-[#e9dbce] bg-[#f4ede6] focus:border-[#e9dbce] h-14 placeholder:text-[#9e7347] p-[15px] text-base font-normal leading-normal transition-colors"
                    />
                </label>
            </div>

            <!-- Url -->
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                <label class="flex flex-col min-w-40 flex-1">
                    <p class="text-[#1c140d] text-base font-medium leading-normal pb-2">Tipo de página *</p>
                    <select id="tipo" v-model="pagina.tipo" class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#1c140d] focus:outline-0 focus:ring-0 border border-[#e9dbce] bg-[#f4ede6] focus:border-[#e9dbce] h-14 placeholder:text-[#9e7347] p-[15px] text-base font-normal leading-normal transition-colors">
                        <option value="BASE">Página base</option>
                        <option value="NOTICIAS">Página de noticias</option>
                        <option value="ARTICULOS">Página de artículos</option>
                    </select>
                </label>
            </div>

            <!-- Resumen -->
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                <label class="flex flex-col min-w-40 flex-1">
                    <p class="text-[#1c140d] text-base font-medium leading-normal pb-2">Resumen</p>
                    <textarea id="resumen" v-model="pagina.resumen"
                              placeholder="Resumen el producto"
                              class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#1c140d] focus:outline-0 focus:ring-0 border border-[#e9dbce] bg-[#f4ede6] focus:border-[#e9dbce] min-h-36 placeholder:text-[#9e7347] p-[15px] text-base font-normal leading-normal transition-colors"></textarea>
                </label>
            </div>

            <!-- Contenido -->
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                <label class="flex flex-col min-w-40 flex-1">
                    <p class="text-[#1c140d] text-base font-medium leading-normal pb-2">Contenido</p>
                    <textarea id="contenido" v-model="pagina.contenido"
                              class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#1c140d] focus:outline-0 focus:ring-0 border border-[#e9dbce] bg-[#f4ede6] focus:border-[#e9dbce] min-h-36 placeholder:text-[#9e7347] p-[15px] text-base font-normal leading-normal transition-colors"></textarea>
                </label>
            </div>

            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                <span v-for="(etiqueta, index) in paginaEtiquetas" class="badge text-bg-secondary" @click="quitarEtiqueta(index)">{{etiqueta.nombre}}</span>
            </div>

            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                <label class="flex flex-col min-w-40 flex-1">
                    <p class="text-[#1c140d] text-base font-medium leading-normal pb-2">Selecciona etiquetas</p>
                    <select class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#1c140d] focus:outline-0 focus:ring-0 border border-[#e9dbce] bg-[#f4ede6] focus:border-[#e9dbce] h-14 placeholder:text-[#9e7347] p-[15px] text-base font-normal leading-normal transition-colors"
                            @change="agregarEtiqueta">
                        <option></option>
                        <option v-for="etiqueta in etiquetas" v-bind:value="etiqueta | stringify" :disabled="etiquetaSeleccionada(etiqueta)">{{etiqueta.nombre}}</option>
                    </select>
                </label>
            </div>

            <!-- Input file oculto -->
            <input
                    type="file"
                    ref="fileInput"
                    multiple
                    @change="handleFileSelect"
                    accept="image/*"
                    style="display: none"
            >

            <!-- Images Section -->
            <h3 class="text-[#1c140d] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Imágenes</h3>
            <div class="flex flex-col gap-3 p-4" @click="triggerFileInput">
                <div class="flex min-h-[200px] flex-col gap-3 rounded-xl border-2 border-dashed border-[#e9dbce] px-6 py-5" style="cursor: pointer;">
                    <div class="text-center" v-if="uploadFiles.length === 0">
                        <svg class="mx-auto h-12 w-12 text-[#9e7347]" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                            <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="text-[#1c140d] text-base font-normal leading-normal pt-2">Arrastra imágenes aquí o haz clic para seleccionar</p>
                        <p class="text-[#9e7347] text-sm font-normal leading-normal">PNG, JPG hasta 10MB</p>
                    </div>
                    <img v-for="(file, index) in previewFiles" :src="file" style="width: 100px;" @click.prevent="quitarImagen(index)">
                </div>
            </div>

            <!-- Publicado -->
            <div class="px-4" style="--checkbox-tick-svg: url('data:image/svg+xml,%3csvg viewBox=%270 0 16 16%27 fill=%27rgb(28,20,13)%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3cpath d=%27M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z%27/%3e%3c/svg%3e'); --radio-dot-svg: url('data:image/svg+xml,%3csvg viewBox=%270 0 16 16%27 fill=%27rgb(249,128,6)%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3ccircle cx=%278%27 cy=%278%27 r=%273%27/%3e%3c/svg%3e'); font-family: &quot;Work Sans&quot;, &quot;Noto Sans&quot;, sans-serif;">
                <label class="flex gap-x-3 py-3 flex-row">
                    <input
                            type="checkbox"
                            v-model="pagina.publicado"
                            class="h-5 w-5 rounded border-[#e9dbce] border-2 bg-transparent text-[#f98006] checked:bg-[#f98006] checked:border-[#f98006] checked:bg-[image:--checkbox-tick-svg] focus:ring-0 focus:ring-offset-0 focus:border-[#e9dbce] focus:outline-none"
                    />
                    <p class="text-[#1c140d] text-base font-normal leading-normal">Publicar</p>
                </label>
            </div>

            <!-- Action Buttons -->
            <div class="flex px-4 py-3 justify-stretch">
                <button type="button" @click="guardar"
                        class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-12 px-5 flex-1 bg-[#f98006] text-[#fcfaf8] text-base font-bold leading-normal tracking-[0.015em] ml-3 transition-colors hover:bg-[#e67a05]">
                    <span class="truncate">Editar</span>
                </button>

                <a
                        href="/admin/contenidos"
                        class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-12 px-5 flex-1 bg-transparent text-[#1c140d] text-base font-bold leading-normal tracking-[0.015em] transition-colors hover:bg-[#f4ede6]">
                    <span class="truncate">Cancelar</span>
                </a>
            </div>

        </form>
    </div>
</div>
<script layout:fragment="script">
    tinymce.init({
        selector: 'textarea#contenido',
        /*plugins: [
          'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
          'checklist', 'mediaembed', 'casechange', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'advtemplate', 'ai', 'uploadcare', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
        ],*/
        //toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography uploadcare | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        //tinycomments_mode: 'embedded',
        //tinycomments_author: 'Author name',
        /*mergetags_list: [
          { value: 'First.Name', title: 'First Name' },
          { value: 'Email', title: 'Email' },
        ],*/
        //ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
        uploadcare_public_key: 'b3911e4f80bf7c1e7010',
      });

    new Vue({
        el: "#app",
        data: {
            pagina: {
                publicado: true
            },
            previewFiles: [],
            uploadFiles: [],
            etiquetas: [],
            paginaEtiquetas: []
        },
        filters: {
            stringify(value) {
              return JSON.stringify(value)
            }
        },
        methods: {
            triggerFileInput() {
              this.$refs.fileInput.click()
            },
            // Manejar la selección de archivo
            handleFileSelect(event) {
              const files = event.target.files

              const formData = new FormData()

              for (let i = 0; i < files.length; i++) {
                const file = files[i]

                  if (file && file.type.startsWith('image/')) {

                    formData.append('files', file)

                    // Crear URL para previsualización
                    this.previewFiles.push(URL.createObjectURL(file))
                  } else {
                    this.resetFile()
                    alert('Por favor selecciona un archivo de imagen válido')
                  }
              }

              axios.post('/api/files/upload', formData).then(response => {
                this.uploadFiles = [...this.uploadFiles, ...response.data]
              })
            },
            agregarEtiqueta: function (event) {
                console.log('agregarEtiqueta', event.target.value)
                this.paginaEtiquetas.push(JSON.parse(event.target.value))
            },
            quitarEtiqueta: function (index) {
                console.log('quitarEtiqueta', index)
                this.paginaEtiquetas.splice(index, 1)
            },
            obtenerEtiquetas: function () {
                axios.get('/api/contenido/etiquetas').then(response => {
                    this.etiquetas = response.data
                })
            },
            etiquetaSeleccionada: function (etiqueta) {
                return this.paginaEtiquetas.find(e => e.etiquetaId == etiqueta.etiquetaId) != null
            },
            quitarImagen: function (index) {
                this.previewFiles.splice(index, 1)
                const nombre = this.previewFiles[index].nombre
                const index2 = this.uploadFiles.findIndex(f => f.nombre === nombre)
                this.uploadFiles.splice(index2, 1)
            },
            obtenerPagina: function () {
                const [,,,paginaId] = window.location.pathname.split('/').filter(segment => segment.length > 0);
                axios.get('/api/contenido/paginas/one/' + paginaId).then(response => {
                    this.pagina = response.data
                    this.paginaEtiquetas = this.pagina.etiquetas
                    this.previewFiles = this.pagina.paginaImagenes.map(pi => '/files/' + pi.ruta)
                    this.uploadFiles = this.pagina.paginaImagenes.map(pi => ({ "nombre": pi.nombre, "ruta": pi.ruta }))

                    tinymce.activeEditor.setContent(this.pagina.contenido);
                })
            },
            guardar: function () {
                this.pagina.contenido = tinymce.activeEditor.getContent();

                axios.put('/api/contenido/paginas/' + this.pagina.paginaId, this.pagina).then(response => {

                    const requestPaginaImagenIds = this.pagina.paginaImagenes.map(pi => pi.paginaImagenId).join()

                    axios.delete('/api/contenido/pagina-imagenes?paginaImagenIds=' + requestPaginaImagenIds).then(() => {
                        const requestFiles = this.uploadFiles
                        .map(file => ({"nombre": file.nombre, "ruta": file.ruta, "pagina": { "paginaId": this.pagina.paginaId }}))

                        axios.post('/api/contenido/pagina-imagenes', requestFiles).then(() => {
                            axios.delete('/api/contenido/pagina-etiquetas/paginaId/'+this.pagina.paginaId, {}).then(() => {
                                const requestEtiquetas = this.paginaEtiquetas
                                    .map(etiqueta => ({ "etiqueta": { "etiquetaId": etiqueta.etiquetaId }, "pagina": { "paginaId": this.pagina.paginaId } }))

                                axios.post('/api/contenido/pagina-etiquetas', requestEtiquetas).then(() => {
                                    window.location.replace("/admin/contenidos")
                                })
                            })
                        })
                    })
                })
            }
        },
        mounted: function () {
            this.obtenerEtiquetas()
            this.obtenerPagina()
        }
    });
</script>
</body>
</html>
