<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>Nosotros - Achisway</title>
</head>
<body>
    
    <main layout:fragment="content">
        <section>
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8"></div>
        <h1 class="text-3xl font-bold text-gray-900 mb-8">Acerca de Nosotros</h1>
        <p class="text-lg text-gray-700 mb-4">
            Bienvenido a Achisway, tu tienda en línea de confianza para productos de alta calidad. 
            Nos dedicamos a ofrecer una amplia gama de artículos que satisfacen las necesidades y 
            gustos de nuestros clientes.
        </p>       
        </section>
    </main>
</body>
</html>