<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>Articulo - Achisway</title>
</head>
<body>

    <!-- Main Content -->
    <div layout:fragment="content" class="px-40 flex flex-1 justify-center py-5">
        <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <!-- Hero Section -->
            <div class="@container">
                <div class="@[480px]:p-4">
                    <div class="flex min-h-[200px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-lg items-center justify-center p-4">
                        <div class="flex flex-col gap-2 text-center">
                            <h1 class="text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
                                th:text="${pagina.titulo}">
                            </h1>
                            <h2 class="text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal"
                                th:text="${pagina.resumen}">
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Imagenes -->
            <h2 class="text-[#1c140d] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Imagenes</h2>
            <div class="flex overflow-y-auto [-ms-scrollbar-style:none] [scrollbar-width:none] [&::-webkit-scrollbar]:hidden">
                <div class="flex items-stretch p-4 gap-3">
                    <div th:each="imagen : ${pagina.paginaImagenes}"  class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                        <div class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex flex-col"
                             th:style="'background-image: url(/files/' + @{${imagen.ruta}} + ');'"></div>
                    </div>
                </div>
            </div>

            <!-- Contenido -->
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4 text-[#1c140d] text-base font-medium leading-normal"
                 th:utext="${pagina.contenido}">

            </div>

            <!-- Etiquetas -->
            <div class="gap-3 p-4 text-[#1c140d] text-base font-medium leading-normal"
            >
                <a th:each="etiqueta : ${pagina.etiquetas}" th:href="@{/etiqueta/{etiqueta}(etiqueta=${etiqueta.nombre})}" class="badge text-bg-secondary ml-1"
                   th:text="${etiqueta.nombre}"></a>
            </div>
        </div>
    </div>

</body>
</html>